body{
    background-color: rgb(24, 21, 21);

font-size: 20px;
text-align: justify;
color:rgb(102, 218, 79);
}
h1 { 
    color:rgb(41, 195, 230);
    font-size: 40px;
    text-align: center;
}